[Unit]
Description=Prometheus exporter for bitcoin-core
Documentation=https://github.com/jmanero/bitcoin-exporter

Wants=network-online.target local-fs.target podman-network@bitcoind.service
After=network-online.target local-fs.target podman-network@bitcoind.service

RequiresMountsFor=%t/containers

[Service]
Type=notify
NotifyAccess=all

Restart=on-failure
TimeoutStopSec=120

Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=SERVICE_NAME=%N
Environment=SERVICE_CONTAINER_IMAGE=ghcr.io/jmanero/bitcoind-exporter:24.0

ExecStartPre=/usr/bin/podman rm --force --ignore ${SERVICE_NAME}
ExecStart=/usr/bin/podman run -d --name ${SERVICE_NAME} --pull newer\
  --cgroups no-conmon --sdnotify conmon --log-driver journald\
  --read-only --network bitcoind --publish 9142:9142\
  ${SERVICE_CONTAINER_IMAGE} --rpc-addr bitcoind:8332 --rpc-user local --rpc-pass local --no-rpc-tls --rpc-http-post

ExecStop=/usr/bin/podman stop --ignore ${SERVICE_NAME}
ExecStopPost=/usr/bin/podman rm --force --ignore ${SERVICE_NAME}

[Install]
WantedBy=default.target
